<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content='width=1000'/>
    <title>Dancer Login Page</title>
</head>
<body>
<div class="container">
    <div class="left">
        <div class="left_logo">
            <img src="assets/img/logo.svg" alt="">
        </div>
        <div class="left_title">
            <div class="left_title">
                <h1>Личный <br> кабинет</h1>
            </div>
        </div>
        <div class="left_text">
            <p>Для входа заполните <br> обязательные поля <b>"Логин"</b> <br> и <b>"Пароль"</b></p>
        </div>
    </div>
    <div class="right">
        <div class="right_title">
            <h1>Вход</h1>
        </div>
        <div class="right_form">
            <div class="right_form_text">
                <div class="right_form_text_title">Логин</div>
                <input type="text" name="username" placeholder="Номер договора" class="right_form_text_input">
            </div>
            <div class="right_form_text">
                <div class="right_form_text_title">Пароль</div>
                <input type="password" name="password" placeholder="Пароль от договора" class="right_form_text_input">
            </div>
            <div class="right_form_button">
                <button class="right_form_button_button">Войти</button>
            </div>
            <div class="right_form_text">
                <div class="right_form_under_text">
                    <p>Не помню пароль</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>